<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	| myPlugin
	main
		.example
			.slider1.test
				.inputPanel
			.slider2.test
				.inputPanel
			.slider3.test
				.inputPanel
